.a {
  border: 1px solid white;
  height: 400px;
  width: 225px;
  box-shadow: 0 5px 18px gray;
  margin-left: 70px;
  margin-bottom: 70px;
  background-color: white;
}

.Imgae {
  width: 225px;
  height: 335px;
  border-bottom: 0.5px solid gray;
  cursor: pointer;
  vertical-align: middle;
}

.Name {
  text-transform: capitalize;
  font-size: 0.8em;
  padding-left: 10px;
  color: orangered;
}
